.theme-menu__button:disabled::before {
  content: '▶';
  height: 13px;
  width: 14px;
  color: var(--text-color);
  opacity: 0.6;
  position: absolute;
  left: -10px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(-14px);
  }
}

.like-icon.is-liked .heart {
  animation: big_heart 0.3s ease-in alternate 0.1s;
  transform-origin: center;
}

@keyframes big_heart {
  to {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  animation: visible_sparks 0.3s ease-in alternate 0.3s;
}

@keyframes visible_sparks {
  to {
    opacity: 1;
  }
}
