/* stylelint-disable rule-empty-line-before */
/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.theme-menu__button:disabled::before {
  content: "▶" ;
  height: 13px;
  width: 16px;
  color: var(--text-color);
  opacity: 0.6;
  position: absolute;
  left: -10px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(-14px);
  }
}

.theme-menu__button:disabled {
  color: var(--text-color);
  opacity: 0.6;
  transition: 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:hover {
  color: var(--text-color);
  opacity: 0.6;
  transition: 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  color: var(--text-color); 
  opacity: 0.6;
  transition: color 0.3s ease;
}

.theme-menu__button::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -2px;
  inline-size: 100%;
  block-size: 2px;
  transition: 0.3s ease;
  transform-origin: left;
  background-color: currentColor;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transform-origin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  margin: auto;
  font-family: var(--inter-main-font, Arial, Helvetica);
  font-variation-settings: var(--wght-main-text);
  background-image: 
  repeating-linear-gradient(to right, var(--linear-grad-first), transparent 2px),
  repeating-linear-gradient(to bottom,var(--linear-grad-first), transparent 2px),
  repeating-linear-gradient(to bottom, var(--linear-grad-second), var(--linear-grad-third));
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--text-color);
  font-family: var(--presstart-accent-font);
  text-transform: uppercase;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-block-end: 50px;
}

.header-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 5px 0 25px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  position: relative;
}

.main-content-card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  color: var(--text-color);
}

.card-title {
  font-weight: var(--wght-card-title);
  font-size: 18px;
  padding: 5px 10px;
  border-bottom: 2px solid var(--text-color);
}

.main-content-card_image {
  position: relative;
}

.card-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-bottom: 2px solid var(--text-color);
}

.img_html {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--text-color);
  opacity: 0.5;
  font-family: var(--presstart-accent-font);
  text-transform: uppercase;
  font-size: 14px;
  background-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--color-stroke-html);
}

@supports((text-stroke: 1px var(--color-stroke-html))) or (-webkit-text-stroke: 1px var(--color-stroke-html)) {
  .img_html {
    -webkit-text-stroke: 1px var(--color-stroke-html);
    text-shadow: var(--color-stroke-html);
  }
}



.card-text {
  padding: 25px;
  line-height: 21px;
  font-size: 18px;
}

.card-text p:not(:last-child) {
  margin-block-end: 27px;
}

.heart_like {
  display: flex;
  gap: 12px;
  align-self: flex-end;
  margin: 0 25px 25px 0;
}

button {
  font-family: var(--presstart-accent-font);
  color: var(--text-color);
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
}

.card__icon-button {
  border: none;
  align-self: center;
  padding: 0;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-size: 14px;
}

.footer {
  align-self: center;
}

.save-floppy-button {
  display: flex;
  gap: 8px;
  padding: 18.5px 21px;
}

.save-floppy-button .button__text {
  align-self: center;
}

@media (width <= 376px) {
  .save-floppy-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 15px 21px;
  }
}
